body {
  scroll-behavior: smooth;
}
/* header */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-active {
  background-color: #A257AA;
  color: white;
}
img.logo-web {
  max-width: 125px;
}
.nav a {
  text-decoration: none;
  color: #000;
  float: left;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  line-height: 25px;
}
.nav a:hover {
  background-color: #E6B7E5;
  color: black
}
.nav a
.home-container section {
  height: 100vh;
}
/* section - instrumentos */
.instr-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.instr img {
  max-width: 200px;
}
/* piano */
#instrument {
  height: 100vh;
}
.piano {
  position: relative;
  max-width: 1200px;
  height: 100%;
  max-height: 250px;
}
.white-keys {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  height: 100%;
}
.black-keys {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
}
.key {
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.key.black-key {
  background-color: black;
  color: white;
}
