* {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: sans-serif;
}
/* titulos */
.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* header */
.lineas-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 10;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}
.linea1,
.linea2,
.linea3 {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.change .linea1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .linea2 {
  opacity: 0;
}
.change .linea3 {
  transform: translate(0, -11px) rotate(45deg);
}
.nav {
  display: none;
  background-color: white;
  padding: 20px;
  align-items: center;
  position: relative;
  margin-right: 40px;
  /* background: linear-gradient(45deg, #A257AA, #E6B7E5); */
}
.nav.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.menu-active {
  background-color: #a257aa;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
img.logo-web {
  max-width: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav a {
  text-decoration: none;
  color: #000;
  float: left;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  border-radius: 20px;
  line-height: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav a:hover {
  background-color: #e6b7e5;
  color: black;
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .lineas-menu {
    cursor: pointer;
  }
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav.open {
    display: flex;
    flex-direction: column;
  }
  .nav a {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
  }
  img.logo-web {
    max-width: 100px;
  }
}
@media screen and (max-width: 500px) {
  .nav-bar {
    padding: 10px;
  }
  .lineas-menu {
    top: 25px;
    right: 10px;
  }
  .nav a {
    font-size: 16px;
    padding: 8px;
  }
}
/* section - instrumentos */
.title {
  font-size: 30px;
  padding-block: 2rem;
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 20px;
    padding-block: 1rem;
  }
}
.instr-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  place-items: center;
}
.instr img {
  max-width: 160px;
  z-index: 2;
}
.instr {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
}
.instr:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.instr a {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
  cursor: pointer;
}
.instr a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(221, 107, 192, 0.7) 0%,
    rgba(148, 117, 228, 0.4) 50%,
    rgba(173, 216, 230, 0.2) 100%
  );
  filter: blur(100px);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.instr a:hover::after {
  opacity: 1;
}
/* piano */
.piano {
  position: relative;
  max-width: 1200px;
  height: 100%;
  max-height: 250px;
  aspect-ratio: 14 / 4;
  margin: 0 auto;
}
.white-keys {
  position: relative;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  height: 100%;
  z-index: 1;
}
.black-keys {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  gap: 10px;
  z-index: 2;
  pointer-events: none;
}
.key {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  pointer-events: auto;
  padding-bottom: 5px;
}
.key.white-key {
  border: 1px solid #aaa;
}
.key.black-key {
  background-color: black;
  color: white;
  transform: translateX(60%);
  position: relative;
}
.key p {
  margin: 0;
  font-size: 10px;
}
.key.click {
  background-color: #aaa;
  transform: translateY(5px);
  margin-top: -5px;
}
.key.black-key.click {
  transform: translate(60%, 5px);
}
/* marimba */
.marimba {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin: auto;
}
/* Mocha (claras) */
.mocha-keys {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 5px;
  align-items: center;
}
.mocha-key {
  width: auto;
  height: 160px;
  background-color: #f4b86a;
  border-radius: 4px;
  box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 12px;
  color: #333;
  transition: transform 0.1s ease;
}
/* Brown (oscuras) */
.brown-keys {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 5px;
  justify-content: center;
  margin-top: -90px;
}
.brown-key {
  width: auto;
  height: 110px;
  background-color: #c76b29;
  border-radius: 5px;
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 12px;
  color: white;
  border: 2px solid #9e4c1a;
  transition: transform 0.1s ease;
}
.mkey:active {
  transform: translateY(4px);
}
/* Espacios */
.space {
  background: transparent;
  width: auto;
  height: 110px;
}
/* Textos */
.mkey p {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .marimba {
    max-width: 100%;
    grid-template-rows: auto auto;
  }

  .mocha-key,
  .brown-key {
    height: 120px;
    font-size: 10px;
  }
}
/* FAQ  */
.faq-container {
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#faq {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}
details {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
summary {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #a257aa;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
summary:hover {
  background-color: #f0f0f0;
}
summary::before {
  content: "+";
  font-weight: bold;
  color: #a257aa;
  margin-right: 10px;
}
details[open] summary::before {
  content: "-";
}
details p {
  padding: 10px;
  font-size: 16px;
  color: #555;
}